<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Человек</title>
</head>
<body>
<p th:text="${person.getFullName() + ', ' + person.getYearOfBirth()}">VALUE</p>
<p></p>
<p th:text="'id = ' + ${person.getId()}">VALUE</p>
<p></p>
<div th:if="${books.isEmpty()}">Человек не взял ни одной книги</div>
<div th:unless="${books.isEmpty()}">
    <p>Книги:</p>
    <div th:each="book : ${books}">
        <p th:text="${book.getTitle() + ', ' + book.getAuthor() + ', ' + book.getYear()}">BOOK</p>
    </div>
</div>
<hr/>
<p></p>
<form th:method="GET" th:action="@{/people/{id}/edit(id=${person.getId()})}">
    <input type="submit" value="Редактировать"/>
</form>
<p></p>
<form th:method="DELETE" th:action="@{/people/{id}(id=${person.getId()})}">
    <input type="submit" value="Удалить"/>
</form>
</body>
</html>